extends layout
 
block content
  .well.span7.offset2  
    h2 #{title}
    #div_logout(style="text-align:right;")
      a.btn.btn-danger(href="logout") Cerrar Sesión
    #div_new_report(style="text-align:left;")
        a.btn.btn-primary(href="nuevoreporte") Nuevo reporte
    table.table.table-hover
      thead
        tr
          th Id reporte
          th Nombre reporte
          th Detalle
          th Cant. registros
          th Usuario crea
          th Opciones
        tbody
          if (reportes)
            each reporte in reportes
              tr
                td #{reporte.idreporte}
                td #{reporte.nombre}
                td #{reporte.detalle}
                td #{reporte.cantidadregistros}
                td #{reporte.usuariocrea}
                td
                  a(href="/rededitreporte?idreporte=#{reporte.idreporte}",title="Editar reporte")
                    i.icon-pencil.icon-2x
                  a(href="/eliminarreporte?idreporte=#{reporte.idreporte}",title="Eliminar reporte")
                    i.icon-remove.icon-2x
                      
    
  
